@import "tailwindcss";

@layer base {
  :root {
    --background: 201 41% 100%;
    --foreground: 201 64% 1%;
    --muted: 201 30% 86%;
    --muted-foreground: 201 9% 40%;
    --popover: 201 41% 100%;
    --popover-foreground: 201 64% 1%;
    --card: 0 0% 99%;
    --card-foreground: 201 64% 0%;
    --border: 201 4% 94%;
    --input: 201 4% 94%;
    --primary: 201 47% 22%;
    --primary-foreground: 201 47% 82%;
    --secondary: 201 20% 91%;
    --secondary-foreground: 201 20% 31%;
    --accent: 201 30% 82%;
    --accent-foreground: 201 30% 22%;
    --destructive: 17 88% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 201 47% 22%;
    --chart-1: 201 47% 22%;
    --chart-2: 201 20% 91%;
    --chart-3: 201 30% 82%;
    --chart-4: 201 20% 94%;
    --chart-5: 201 50% 22%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 201 40% 4%;
    --foreground: 201 14% 97%;
    --muted: 201 30% 14%;
    --muted-foreground: 201 9% 60%;
    --popover: 201 40% 4%;
    --popover-foreground: 201 14% 97%;
    --card: 201 40% 5%;
    --card-foreground: 201 14% 98%;
    --border: 201 4% 13%;
    --input: 201 4% 13%;
    --primary: 201 47% 22%;
    --primary-foreground: 201 47% 82%;
    --secondary: 201 6% 10%;
    --secondary-foreground: 201 6% 70%;
    --accent: 201 15% 20%;
    --accent-foreground: 201 15% 80%;
    --destructive: 17 88% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 201 47% 22%;
    --chart-1: 201 47% 22%;
    --chart-2: 201 6% 10%;
    --chart-3: 201 15% 20%;
    --chart-4: 201 6% 13%;
    --chart-5: 201 50% 22%;
  }
}

